dj-database-url==0.4.2
Django==2.0.3
gunicorn==19.7.1
postgres==2.2.1
psycopg2==2.7.1
pytz==2017.2
whitenoise==3.3.0
dj-static
static3
mysqlclient
six
bs4
numpy
nltk
lxml
djangorestframework
boto
boto3
django-storages
pandas
django-widget-tweaks
requests
django-filter